body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

h1{
    color: #ff92ed;
    font-size: 35px;
}

label{
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #EDFFF0;
    border: 2px solid #F0FAF1;
    color: #283629;
    outline: none;
}

.btn{
    font-size: 16px;
    color: #ffffff;
    border-radius: 25px;
    background-color: #51D94C;
    box-shadow: 0 0 20px rgba(25,254,0,0.4);
    cursor: pointer;
}